body {
    background: #0B172A;
    font-family: "Avenir Next",  serif;
    color: #FFFFFF;
}
h1 {
    color: #FFFFFF;
    font-family: "Avenir Next",  serif;
    margin-top: 30px;
    margin-left: 8px;
}

button {
    border: 0;
}

table#main {
    border: #FFFFFF;
    width: 100%;
    height: 100%;
}
.var {
    text-align: end;
    margin-top: 0;
    line-height: 65%;
    margin-right: 3%;
}
#main-form {
    margin-left: 6%;
}
#plot {
    margin-top: auto;
    display: block;
    margin-left: auto;
    margin-right: 6%;
    float: right;
    background: url("../res/web2R0_plot.svg");
    background-size: 400px, 400px;
    cursor: crosshair;
}
.input {
    font-size: 22px;
    margin-top: 20px;
}
/*input[name="value_r"] {*/
/*    text-decoration: none;*/
/*    display: inline-block;*/
/*    width: 100px;*/
/*    height: 45px;*/
/*    line-height: 45px;*/
/*    border-radius: 45px;*/
/*    margin: 5px 8px;*/
/*    font-size: 32px;*/
/*    text-transform: uppercase;*/
/*    text-align: center;*/
/*    letter-spacing: 3px;*/
/*    font-weight: 500;*/
/*    color: #0B172A;*/
/*    background: white;*/
/*    box-shadow: 0 10px 15px rgba(0, 0, 0, .1);*/
/*    transition: .3s;*/
/*}*/
/*input[name="value_r"]:hover {*/
/*    background: #BC4123;*/
/*    box-shadow: 0 5px 28px rgba(255, 255, 255, .4);*/
/*    color: white;*/
/*    transform: translateY(-3px);*/
/*}*/
/*.small-button:active {*/
/*    background: #BC4123;*/
/*    box-shadow: 0 5px 28px rgba(255, 255, 255, .4);*/
/*    color: white;*/
/*    transform: translateY(-3px);*/
/*}*/

#ic {
    margin-top: 0;
}
/*#input_x {*/
/*    text-decoration: none;*/
/*    display: inline-block;*/
/*    width: 300px;*/
/*    height: 45px;*/
/*    line-height: 45px;*/
/*    border-radius: 45px;*/
/*    margin: 5px 8px;*/
/*    font-size: 32px;*/
/*    text-transform: uppercase;*/
/*    text-align: center;*/
/*    letter-spacing: 3px;*/
/*    font-weight: 500;*/
/*    color: #0B172A;*/
/*    background: white;*/
/*    box-shadow: 0 10px 15px rgba(0, 0, 0, .1);*/
/*}*/
/*#input_y {*/
/*    text-decoration: none;*/
/*    display: inline-block;*/
/*    width: 200px;*/
/*    height: 45px;*/
/*    line-height: 45px;*/
/*    border-radius: 45px;*/
/*    margin: 5px 8px;*/
/*    font-size: 32px;*/
/*    text-transform: uppercase;*/
/*    text-align: center;*/
/*    letter-spacing: 3px;*/
/*    font-weight: 500;*/
/*    color: #0B172A;*/
/*    background: white;*/
/*    box-shadow: 0 10px 15px rgba(255, 255, 255, .1);*/
/*}*/
.button {
    margin-top: 80px;
    margin-left: 8px;
    text-decoration: none;
    display: inline;
    width: 210px;
    height: 42px;
    line-height: 45px;
    /*border-radius: 45px;*/
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    /*font-weight: 500;*/
    border: #FFFFFF solid 2px;

    color: #FFFFFF;
    background: #0B172A;
    /*box-shadow: 0 10px 15px rgba(0, 0, 0, .1);*/
    transition: .3s;
}
.button:hover {
    background: #0B172A;
    /*box-shadow: 0 5px 28px rgba(255, 255, 255, .4);*/
    color: #BC4123;
    border: #BC4123 solid 2px;

    transform: translateY(-3px);
}
.validate-message {
    margin-top: 20px;
    margin-left: 2px;
    font-style: italic;
    font-size: 32px;
    font-weight: 100;
}
table.answer_table {
    margin: 30px auto auto;
    font-size: 14px;
    border-radius: 10px;
    border-spacing: 0;
    text-align: center;
}
th.answer_table {
    background: #BC4123;
    color: white;
    padding: 10px 20px;
}
th.answer_table, td.answer_table {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
}
th.answer_table:first-child {
    border-top-left-radius: 10px;
}

th.answer_table:last-child {
    border-top-right-radius: 10px;
    border-right: none;
}
td.answer_table {
    padding: 10px 20px;
    background: #0B172A;
}
tr.answer_table:last-child td.answer_table:first-child {
    border-radius: 0 0 0 10px;
}
tr.answer_table:last-child td.answer_table:last-child {
    border-radius: 0 0 10px 0;
}
tr.answer_table td.answer_table:last-child {
    border-right: none;
}

#coord-live {
    float: left;
    margin: 14% auto auto 30%;
    display: table-cell;
    vertical-align: middle;
}

::-moz-selection {
    color: #BC4123;
    background: #FFFFFFAA;
}

::selection {
    color: #BC4123;
    background: #FFFFFFAA;
}

ul li{
    color: #FFFFFF;
    display: block;
    position: relative;
    float: left;
    width: 15%;
    height: 100px;
    border-bottom: 2px solid #FFFFFF;
}

ul li input[type=radio]{
    position: absolute;
    visibility: hidden;
}

ul li label{
    display: block;
    position: relative;
    font-weight: 300;
    font-size: 1.35em;
    padding: 25px 25px 25px 80px;
    margin: 10px auto;
    height: 30px;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
}

ul li:hover label{
    /*background: #BC412355;*/
    /*box-shadow: 0 5px 28px rgba(255, 255, 255, .4);*/
    color: #BC4123;
    transform: translateY(-3px);
    /*border-radius: 15px;*/
}

ul li .check{
    display: block;
    position: absolute;
    border: 5px solid #AAAAAA;
    border-radius: 100%;
    height: 25px;
    width: 25px;
    top: 30px;
    left: 20px;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
}

ul li:hover .check {
    border: 5px solid #BC4123;
    transform: translateY(-3px);

}

ul li .check::before {
    display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 15px;
    width: 15px;
    top: 5px;
    left: 5px;
    margin: 0;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
}

input[type=radio]:checked ~ .check {
    border: 5px solid #BC4123;
}

input[type=radio]:checked ~ .check::before{
    background: #BC4123;
}

input[type=radio]:checked ~ label{
    color: #BC4123;
}

.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 20px;
    width: 30%;
}

.form__field {
    width: 100%;
    border: 0;
    border-bottom: 2px solid #FFFFFF;
    outline: 0;
    font-size: 1.3rem;
    color: #FFFFFF;
    padding: 15px 0 7px;
    background: transparent;
    transition: border-color 0.2s;
}
.form__field::placeholder {
    color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
    font-size: 22px;
    cursor: text;
    top: 20px;
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 22px;
    color: #FFFFFF;
}

.form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    color: #BC4123;
    border: 3px #BC4123;
    border-image-slice: 1;
    border-bottom: 2px solid #BC4123;

}
.form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #bc4123;
    font-weight: 700;
}

/* reset input */
.form__field:required, .form__field:invalid {
    box-shadow: none;
}

/*.form__group:hover {*/
/*    !*background: #BC412355;*!*/
/*    box-shadow: 0 5px 0px rgba(255, 255, 255, .4);*/
/*    color: white;*/
/*    transform: translateY(-3px);*/
/*    !*border-radius: 15px;*!*/
/*}*/
/*!* demo *!*/
/*body {*/
/*    font-family: "Poppins", sans-serif;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    min-height: 100vh;*/
/*    font-size: 1.5rem;*/
/*    background-color: #222222;*/
/*}*/
