@import url('https://fonts.cdnfonts.com/css/soyuz-grotesk');

@font-face {
    font-family: 'Soyuz Grotesk';
    font-style: normal;
    font-weight: 700;
    src: local('Soyuz Grotesk'), url('https://fonts.cdnfonts.com/s/18205/Soyuz Grotesk Bold.woff') format('woff');
}

:root {
    --font-family: "Soyuz Grotesk",  sans-serif !important;
}

html {
    font-size: 14px;

}

body {
    background: black;
    font-family: "Soyuz Grotesk",  sans-serif !important;
    color: white;
    filter: none;
}

.label {
    font-size: 4rem;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#header {
    height: 9rem;
    margin: fill;
    width: 100%;
    z-index: 1000;

    position: sticky;
    top: 0;
    text-align: center;
    background: linear-gradient(0deg, #ffffff00,#000000dd, #000000ee, #000000);
    /*background-image: url("../resources/web3_icon.svg");*/


}

table#main {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 16%;
    height: 84%;
}

#formRow {
    height: 10rem;
}

.dataInput {
    width: 26.66%;
    margin-top: auto;
    text-align: center;
    padding: unset;
}

.dataFieldTable {
    margin-left: 50%;
    transform: translate(-50%, 0);
}
.ui-widget {
    font-family: inherit !important;
}

.ui-inputfield {
    background: #00000000 !important;
    color: #ffffffaa !important;
    border-radius: 0 !important;
    border: 2px solid #ffffffaa !important;
    font-family: inherit ;

}
.ui-state-focus {
    box-shadow: none !important;
}
.ui-inputfield:focus {
    color: white !important;
    border: 2px solid white !important;
}

.ui-button {
    background: #00000000 !important;
    color: #ffffffaa !important;
    border-radius: 0 !important;
    border: 2px solid #ffffffaa !important;
}
.ui-button:hover {
    color: white !important;
    border: 2px solid white !important;
}


.validate_messege {
    margin-left: 50% !important;
    transform: translate(-50%, 0) !important;
    text-align: center !important;
    font-size: 3rem !important;
    color: #ff0000aa !important;
}

#plot {
    background: url("../img/web3newPlot.svg");
    background-size: 400px, 400px;
    cursor: crosshair;
    transition: transform 0.2s;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*filter: blur(0) !important;*/
    /*margin-left: 50%;*/
    /*transform: translate(-50%, 0);*/
}

#plot:hover {

    transform:  scale(150%);
    z-index: 500;
    box-shadow: 0 0 0.5rem  0.5rem white;
    display: block;
    margin-left: auto;
    margin-right: auto;
}



.ui-datatable-empty-message {
    background: #00000000 !important;
    color: white !important;
    font-size: 1.5rem;
    transition: transform 0.2s;
}
.ui-datatable-empty-message:hover {
    background: #ffffff88 !important;
}

.table-value {
    background: #00000000 !important;
    color: white !important;
    font-size: 1.5rem;
    transition: transform 0.2s;
}
.table-value:hover {
    background: #ffffff88 !important;
}


::selection {
    color: black;
    background: white;
}

#clock {

    text-align: center !important;
    font-size: 3rem !important;
    color: white !important;
    font-family: inherit;
}

#clockRow {
    width: 100%;
    height: 4rem;
    text-align: center;
    font-family: inherit;
    color: white;
    background: transparent;
}
.bio {
    width: 50%;
    height: 4rem;
    text-align: center;
    font-family: inherit;
    font-size: 2rem;
    color: white;
    background: transparent;
}

.logo {
    background: url("../img/web3_icon.svg") !important;
    background-size: 100px, 100px;
    transition: transform 1s;
}
.logo:hover {
    transform: rotate(360deg);
}

